html {
    background-color: lightgray;
  }
  
  body {
    margin: 0px;
  }
  
  .page {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .banner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .banner-image {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .banner-image-text {
    position: absolute;
    font-weight: 600;
    top: 350px;
    font-weight: 600;
    font-size: 60px;
    background: white;
    padding: 10px;
    border-radius: 5px;
  }
  
  .nav-bar {
    position: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  ul.nav-bar li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  
  .main-content {
    display: flex;
    min-width: 600px;
    justify-content: center;
    min-height: 400px;
    align-items: center;
  }
  
  .our-team {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    background-color: lightblue;
  }
  
  .our-team p {
    margin-left: 15px;
    margin-top: 0px;
    max-width: 500px;
  }
  
  .footer {
    width: 100%;
    text-align: center;
    background-color: darkslategray;
  }
  
  .label {
    padding: 5px;
    color: lightgray;
  }